<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Approval</title>
    <style>
        body {
        font-family: Calibri, sans-serif;
        }

        .program-name {
        font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
<p>Hello <span style="font-weight: bold;">{{checkerName}}</span>,</p>

<p>
    Please be advised that one or more DSF Set up(s) are awaiting approval for
    <span class="program-name" style="font-weight: bold;">{{programName}}</span>.
    Please review and action accordingly.
</p>

<p>
    <a href="{{dsfModuleLink}}" style="color: blue; text-decoration: underline;">Login to the DSF module</a>
</p>

</body>
</html>